.icon {
  position: absolute;
  left: 0;
  top: 20%;
  padding: 0.5rem;
  color: var(--color-main);
}

.formGroup {
  position: relative;
  padding: 1rem 0 0;
  margin-top: 10px;
  width: 100%;
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--txt-main);
  outline: 0;
  font-size: 1.8rem;
  color: var(--txt-main);
  padding: 0.5rem 4rem;
  background: transparent;
  transition: border-color 0.2s;
  z-index: 10;
}

.formField::placeholder {
  color: transparent;
  font-weight: 400;
}

.formField:focus ~ .formLabel {
  font-size: 1rem;
  color: var(--txt-secondary);
}

.formField:required,
.formField:invalid {
  box-shadow: none;
}

.formField:focus ~ .formLabel,
.formField:not(:placeholder-shown) ~ .formLabel {
  font-size: 1rem;
  color: var(--txt-secondary);
}

.formField:placeholder-shown ~ .formLabel {
  font-size: 1.3rem;
  cursor: text;
  top: 2rem;
  margin-left: 4rem;
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--txt-secondary);
}

.errorText {
  color: #8e2626;
  font-size: 1.4rem;
  margin-left: 4rem;
}

.error {
  border-bottom: 2px solid #8e2626;
}
