.box {
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 130rem;
}

.content_area {
  max-width: 100%;
}

.title {
  position: relative;
  margin-bottom: 0.75rem;
  font-size: 5rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 1.3;
  display: inline-block;
  z-index: 0;
}

.pre_title {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  display: block;
  width: max-content;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-main);
  z-index: 5;
}
.pre_title::before,
.pre_title::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  top: 50%;
  translate: 0 -50%;
  background-color: var(--color-main);
}
.pre_title::before {
  left: 0;
  right: auto;
}
.pre_title::after {
  left: auto;
  right: 0;
}

.featured_text {
  color: var(--color-main);
  position: relative;
}

.featured_text_img {
  position: absolute;
  left: 50%;
  top: 40%;
  width: calc(100% + 10px);
  height: calc(100% + 40px);
  transform: translate(-50%, -50%);
}

.about_text {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  opacity: 0.75;
  letter-spacing: 0.5px;
}

.info {
  display: flex;
  margin: 6rem 0;
}

.info_title {
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}

.info_text {
  font-size: 1.6rem;
  opacity: 0.75;
}
